extends layout

block content
	div.row-fluid
		h1.span8 #{title}
		ul.span4.nav.nav-pills
			li 
				a(href="")#user
	div#content
		div#tags.row-fluid
			ul.nav.nav-pills
				li
					a(href="") Python
				li
					a(href="") PHP
				li
					a(href="") node.js
				li
					a(href="") +
		div#container.row-fluid
			div.span4
				p Hello
			div.span8
				p World!