extends layout

block content
	div#header.navbar.navbar-fixed-top.container
		div.row.navbar-inner
			h1#title.span3
				a(href="#{root}/#/") #{title}
			ul#tags.offset1.nav.nav-pills.span7
			div#toolbar.pull-right
				button(accesskey='e', title="edit").btn#edit-note-action
					i.icon-edit
					span
				button(accesskey='n', title="create").btn#add-note-action
					i.icon-edit
					span +
	div#container.container
		div.row
			div#sidebar.span3
				div#sidebar-meta.clearfix
					form#search.navbar-search
							input(type="text", name="words").search-query.input-medium
							button.btn
								i.icon-search
				div#note-list.note-list
			div#content.span9
				div#note.note.container-fluid
					div.note-meta
						h2.note-title
					div.note-content
				div#note-edit.container-fluid
					div.row-fluid
						form
							input(type="hidden", name="_id")
							div
								input(type="text", name="title", placeholder="title")
							div
								input(type="text", name="tags", placeholder="tags")
								textarea(name="content")
								p.btn-toolbar
									button(type="button").note-edit-save.btn.btn-primary save 
									button(type="button").note-edit-discard.btn  discard
					
	div#footer.container
		p &copy;2012 <a href="https://github.com/sagan/everpiece" target="_blank">everpiece</a> <a href="" id="user"></a>