extends layout

block content
	div.row-fluid
		h1.span8
			a(href="#{root}/#/") #{title}
		ul.span4.nav.nav-pills
			li 
				a(href="")#user
	div#content
		div.row-fluid
			ul#tags.nav.nav-pills
		div#container.row-fluid
			div#note-list.span2
				div.note-list-item
					a
				div.note-list-item
					a
			div#note-content.span10
				div#note
					div.row
						h2.note-title.span10
						div.note-actions.pull-right
							i.icon-edit
							a.note-edit-link Edit
					div.row
						div.note-content