extends layout

block content
	div.offset1.row-fluid
		h1.span7
			a(href="#{root}/#/") #{title} 
		ul.span4.nav.nav-pills
			li 
				a(href="")#user
	div#content.offset1.row-fluid
		div
			ul#tags.nav.nav-pills
				button(style="display: inline;").btn#add-note-action
					i.icon-edit
					span  Create Note
		div#container.row-fluid
			div#sidebar.span2
				div.row
					form#search.navbar-search
						input(type="text", name="words").search-query.input-small
						button.btn
							i.icon-search
				div.row
					ul#note-list.note-list
			div#content.offset1.span8
				div.row#note.note
					div.row
						h2.note-title
						span.note-actions
							button.btn.note-edit-link
								i.icon-edit
								span  Edit
					div.row
						div.span6.note-content
				div.row#note-edit
					div.span6
						form.row
							input(type="hidden", name="_id")
							div
								input(type="text", name="title", placeholder="title")
							div
								input(type="text", name="tags", placeholder="tags")
							textarea(name="content")#note-edit-content
							p.btn-toolbar
								button(type="button")#note-edit-save.btn.btn-primary save 
								button(type="button")#note-edit-discard.btn  discard
					div.span4
					
