doctype 5
html
	head
		meta(charset='UTF-8')
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css?ver=0.1')
		link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.min.css?ver=2.2.1', media='screen')
		script(src='/javascripts/jquery.js?ver=1.8.2')
		script(src='/javascripts/bootstrap.min.js?ver=2.2.1')
		script(src='/javascripts/i18n/en.js?ver=0.1')
		script(src='/javascripts/core.js?ver=0.1')
	body
		block content