
/* layout */
html, body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
	padding-top: 66px;
}

#header {

}

#tags, #toolbar {
	margin-top: 10px;
}

#container {
	
}

#container > div {
	
}

#content {
	height: 100%;
}

#note-list {
	overflow-y: hidden;
}

#note .note-content {
	overflow-y: auto;
	width:100%;
	height: 300px;
}

#footer {
	margin-bottom: 10px;
	height: 40px;
}


/* content */
#note-edit form {

}
#note-edit textarea {
    width: 100%;
    min-height: 400px;
}

#note-edit input {
	width: 100%;
}

.note h2 {
	display: inline;
	margin-right: 20px;
}

